@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@Model.Post.Title</h1>

<div>
    <p>@Model.Post.Body</p>

    <i>@Model.Post.Author.FullName</i>
</div>

<br />

<div>
    <a href="/Posts" class="button [radius round]">Back</a>
    <a href="/Posts/@Model.Post.PostId/Edit" class="button [radius round]">Edit</a>
</div>

<br />

<div class="panel" id="comments">
    <h2>Comments</h2>
    @foreach (var comment in @Model.Post.Comments)
    {
        <div class="comment" id="comment-@comment.CommentId">
            <p>On @DateTime.Now.ToShortDateString(), @comment.Author said:</p>
            <p>@comment.Body</p>
        </div>
    }
</div>
